[buildout]
parts =
  test
  test_no_browser
versions = versions
develop = .

[versions]
zope.testing = 3.10.3

[test]
recipe = zc.recipe.testrunner
eggs = zc.catalog [test, browser, test_browser]
defaults = "--exit-with-status".split()

[test_no_browser]
recipe = zc.recipe.testrunner
eggs = zc.catalog [test]
defaults = "--exit-with-status".split()
